@font-face {
  font-family: "RobotoMono";
  src: url("./Fonts//RobotoMono-Regular.ttf") format("truetype");
  /* url('../fonts/font.woff') format('woff'),
       url('../fonts/font.ttf') format('truetype'); */
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

body {
  margin: 0;
  font-family: "RobotoMono", sans-serif;
}
